{% extends 'layouts/base.html' %}
{% load static admin_soft%}

{% block content %}
    <div class="container-fluid mt-4">
        <div class="row align-items-center">
            <div class="col-lg-11 col-sm-8">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-1" role="tablist">
                        {% for category in categories.results %}
                        <li class="nav-item">
                            <a id="data-tab" class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#{{ category.category }}" role="tab" aria-selected="true">
                                {{ category.category }} [{{category.total }}]
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid my-3 py-3">
        {% for category in categories.results %}
            <div id="{{ category.category }}">
                <div class="row mb-5">
                    <div class="col-lg-2">
                        <div class="card position-sticky top-1">
                            <ul class="nav flex-column bg-white border-radius-lg p-3">
                                <li class="nav-item">
                                    <a class="nav-link text-body" data-scroll="" href="#">
                                        <i class="fas fa-chart-simple me-2"></i>
                                        <span class="text-sm"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-10 mt-lg-0 mt-4">
                        <!-- chart -->
                        <div class="card mt-4" id="chart">
                            <div class="card-header">
                                <h5>Chart settings</h5>
                            </div>
                            <div class="card-body pt-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% include 'includes/footer.html' %}
    </div>
{% endblock content %}
  
{% block extra_js %}

<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/countup.min.js' %}"></script>
<script>
    {% if messages %}
        const currentTime = new Date().toLocaleTimeString();
        {% for message in messages %}
            console.log('{{ message }}');
            showNotification(
                {% if message.level_tag == 'alert-success' %} 'success' {% else %} 'error' {% endif %},
                '{{ message.extra_tags }}',  // Replace with the actual task name if needed
                '{{ message.message }}',
                currentTime)
            {#showNotification('error', task_name, data.error, currentTime);#}

        {% endfor %}
    {% endif %}
</script>

{% endblock extra_js %}