{% extends 'layouts/base.html' %}
{% load formats file_extension info_value %}
{% block title %} Tables {% endblock title %}
{% block extrastyle %}
<!-- Specific CSS goes HERE -->
<style>
  .badge.bg-success:not(.badge-opaque) { background: #14A44D !important; }
  .badge.bg-warning:not(.badge-opaque) { background: #E4A11B !important; }
  .badge.bg-danger:not(.badge-opaque) { background: #DC4C64 !important; }
  .badge.bg-secondary:not(.badge-opaque) { background: #9FA6B2 !important; }
</style>
{% endblock extrastyle %}

<!-- MAIN Content -->
{% block content %}

    <div class="container-fluid py-4">

      <!-- Info component -->
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>
                Async Tasks Manager
              </h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2 px-4 mt-3">
                <p>
                  Superusers are able to create/cancel tasks.
                  <br />
                  Ordinary users can only view execution logs and running tasks (no other interactions allowed).
                </p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Task Manager Component -->
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Tasks List</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-7">STATE</th>
                      <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Script</th>
                      <th class="text-center text-uppercase text-dark text-xxs font-weight-bolder opacity-7">ARGS</th>
                      {% if request.user.is_authenticated %}
                      <th class="text-center text-dark opacity-7">Action</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                  <!-- Running Task -->
                  {% for task in  tasks %}
                      {% if task.status == "STARTED" or task.status == "PROGRESS"%}
                          <form action="{% url 'cancel-task' task.id %}" method="post">
                      {% else %}
                          <form action="{% url 'run-task' task.name %}" method="post">
                      {% endif %}
                  {% csrf_token %}
                  <tr>
                      <td>
                      <div class="d-flex px-2 py-1">
                        <div class="mx-3">
                          <i class="fa fa-file-code-o fa-2x"></i>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">
                            {{task.name}}
                          </h6>
                          <p class="text-xs text-dark mb-0">
                            Celery Task
                          </p>
                        </div>
                      </div>
                    </td>
                      <td class="align-middle text-center text-sm">
                        {% if task.status == "STARTED"%}
                            <span class="badge bg-warning">INITIAL</span>
                        {% elif task.status == "PROGRESS"%}
                            <span class="badge bg-warning">RUNNING</span>
                        {% elif task.status == "FAILURE" %}
                            <span class="badge bg-danger">FINISHED-Failure</span>
                        {% elif task.status == "REVOKED" %}
                            <span class="badge bg-secondary">CANCELLED</span>
                        {% else %}
                            <span class="badge bg-success">FINISHED-Success</span>
                        {% endif %}
                    </td>
                      <td class="align-middle text-center">
                      <span class="text-dark text-xs font-weight-bold">
                          <select class="form-control"
                                   id="script_name_{{ forloop.counter0 }}" name="script_name"
                                  {% if task.status == "STARTED"%}disabled{% endif %}>
                            {% for script in task.scripts%}
                              <option value="{{script.name}}" {% if script.name == task.input %}selected{% endif %}>{{ script.name }}</option>
                            {% endfor %}
                          </select>
                      </span>
                      <input id="args_{{ forloop.counter0 }}" name="args" type="hidden" value=""/>
                    </td>
                      <td class="align-middle text-center" id="args-field_{{ forloop.counter0 }}">
                          <!-- This will be dynamically updated by JavaScript -->
                      </td>
                      {% if request.user.is_authenticated %}
                          <td class="align-middle text-center">
                      {% if task.status == "STARTED" or task.status == "PROGRESS"%}
                        <button href="javascript:;" data-toggle="tooltip" data-original-title="Edit user"
                                class="btn text-danger font-weight-bold text-xs">
                          Cancel Task
                        </button>
                      {% elif task.status == "FAILURE" or task.status == "REVOKED" %}
                          <button href="javascript:;" data-toggle="tooltip" data-original-title="Edit user"
                                  class="btn btn-primary font-weight-bold">
                            Execute
                          </button>
                      {% else %}
                          <button href="javascript:;"  data-toggle="tooltip" data-original-title="Edit user"
                                  class="btn btn-primary font-weight-bold">
                            Execute
                          </button>
                      {% endif %}

                    </td>
                      {% endif %}
                  </tr>
                  </form>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Task Logs -->
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>
                LOGS (most recent 10 tasks)
              </h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7">Task</th>
                      <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Input</th>
                      <th class="text-uppercase text-dark text-xxs font-weight-bolder text-center opacity-7 ps-2">Status</th>
                      <th class="text-uppercase text-dark text-xxs font-weight-bolder text-center opacity-7 ps-2">Start TS</th>
                      <th class="text-uppercase text-dark text-xxs font-weight-bolder text-center opacity-7 ps-2">End TS</th>
                      <th class="text-uppercase text-dark text-xxs font-weight-bolder text-center opacity-7 ps-2">Output</th>
                      <th class="text-uppercase text-dark text-xxs font-weight-bolder text-center opacity-7 ps-2">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for result in task_results %}
                      <tr>

                        <td>
                          <div class="d-flex px-2">
                            <div class="my-auto">
                              <h6 class="mb-0 text-sm mb-0">
                                {{result.id}} - {{result.task_name}}
                              </h6>
                              <p class="text-xs text-dark mb-0">
                                {{result.task_id}}
                              </p>
                            </div>
                          </div>
                        </td>

                        <td>
                          <p class="text-sm mb-0">
                               {% if result.status == 'REVOKED' %}
                                    {{result|get_task_args_field:"task_name"}}
                               {% else %}
                                   {{result|get_result_field:"input"}}
                               {% endif %}
                          </p>
                        </td>

                        <td>
                          <p class="text-sm text-center mb-0
                            {% if result.status == 'SUCCESS' %} text-success
                            {% elif result.status == 'FAILURE' %} text-danger
                            {% elif result.status == 'REVOKED' %} text-primary
                            {% else %} text-info {% endif %}">
                          {{ result.status}}
                          </p>
                        </td>

                        <td>
                          <p class="text-sm text-center mb-0">{{result.date_created|date_format}}</p>
                        </td>

                        <td>
                          <p class="text-sm text-center mb-0">{{result.date_done|date_format}}</p>
                        </td>

                        <td>
                            <p class="text-sm text-center mb-0">
                                {% if result.status == 'REVOKED' %}
                                   {{result|get_result_field:"exc_message"}}
                               {% else %}
                                    {{result|get_result_field:"output"}}
                               {% endif %}
                            </p>
                        </td>

                        <td class="text-center">
                        <button class="btn btn-xs btn-dark text-xs" onclick="showFileView('{{result|get_result_log_file}}')">View Log</button>
                        {% if result.status == 'FAILURE' %}
                            <button class="btn btn-xs btn-primary text-xs" onclick="retryTask('{{ result.task_id }}')">Retry</button>
                        {% endif %}
                        </td>

                      </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const tasks = {{ task_scripts|safe }};

    function updateArgsField(index) {
        const backendTasksSelect = document.getElementById(`script_name_${index}`);
        const selectedTask = backendTasksSelect.value;
        const argsField = document.getElementById(`args-field_${index}`);
        const hiddenArgsField = document.getElementById(`args_${index}`);

        const script = tasks[index].scripts.find(s => s.name === selectedTask);
        argsField.innerHTML = ''; // Clear the existing content

        if (script && script.options) {
            const select = document.createElement('select');
            select.className = 'form-control w-100';
            select.id = `args_${index}_select`;
            select.name = 'args';

            script.options.forEach(option => {
                const optionElement = document.createElement('option');
                optionElement.value = option.value;
                optionElement.textContent = option.text;
                select.appendChild(optionElement);
            });

            select.addEventListener('change', function() {
                hiddenArgsField.value = select.value;
            });
            // Initialize hiddenArgsField with the current value of the select
            if (select.options.length > 0) {
                hiddenArgsField.value = select.options[0].value;
            }
            
            argsField.appendChild(select);
        } else {
            const input = document.createElement('input');
            input.type = 'text';
            input.id = `args_${index}_input`;
            input.name = 'args';
            input.className = 'form-control w-100';

            input.addEventListener('input', function() {
                hiddenArgsField.value = input.value;
            });
            // Initialize hiddenArgsField with the current value of the input
            hiddenArgsField.value = input.value;

            argsField.appendChild(input);
        }
    }

    tasks.forEach((task, index) => {
        updateArgsField(index);
    });

    document.querySelectorAll('[id^=script_name_]').forEach((element, index) => {
        element.addEventListener('change', function() {
            updateArgsField(index);
        });
    });
});
</script>
{% endblock content %}


<!-- MAIN Content END -->