{% extends 'layouts/../layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid py-4">

        Calendar View
    
        "A calendar-based view showing daily returns for each day. Each calendar day can display:
        1.  Daily portfolio performance in percentage terms (green/red for gain/loss).
        2. Specific stock returns or highlights (hovering over a day can show details of that day’s trades)."

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

{% endblock scripts %}
