{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
            <div class="multisteps-form mb-5">
                {% if messages %}
                    <div class="row">
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <!--progress bar-->
                <div class="row">
                    <div class="col-12 col-lg-8 mx-auto my-5">
                        <div class="multisteps-form__progress">
                            <button class="multisteps-form__progress-btn js-active" type="button" title="holding">
                                <span>Pick Holding Symbol under <b>{{ portfolio.name }}</b></span>
                            </button>
                            <button class="multisteps-form__progress-btn" type="button" title="buy order">Fill <b>Buy</b> Order</button>
                        </div>
                    </div>
                </div>
                <!--form panels-->
                <div class="row">
                    <div class="col-12 col-lg-8 m-auto">
                      <form  class="multisteps-form__form mb-8" id="holding_sell_order_form" class="mb-8" method="post" action="{% url 'adjust_stop_limits' %}">">
                          {% csrf_token %}
                          <!--single form panel-->
                          <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
                              <div class="multisteps-form__content">
                                  <div class="row mt-3">
                                      <h6 class="font-weight-bolder mb-0">Select existing Holding</h6>
                                  </div>
                                  <div class="row mt-3">
                                      <div class="table-responsive">
                                        <table class="table table-flush table-hover" id="holding_table">
                                            <thead class="thead-light">
                                              <tr>
                                                  <th>Holding Symbol</th>
                                                  <th>Actions</th> <!-- New column for actions -->
                                              </tr>
                                            </thead>
                                            <tbody>
                                            {% for holding in holdings %}
                                                <tr>
                                                    <td>
                                                        <a class="text-default text-decoration-none">{{ holding.symbol }}</a>
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-primary select-holding"
                                                                data-symbol="{{ holding.symbol }}"
                                                                onclick="selectHolding('{{ holding.symbol.symbol }}')">Select</button>
                                                    </td>
                                              </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Holding Symbol</th>
                                                  <th>Actions</th> <!-- New column for actions -->
                                              </tr>
                                            </tfoot>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="row mt-3">
                                      <label><h5>Selected Holding</h5></label>
                                      <input id='auto_complete_symbol_result'  name='holding_symbol' class="form-control">
                                  </div>
                                  <div class="button-row d-flex mt-4">
                                      <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
                                  </div>
                              </div>
                          </div>
                          <!--single form panel-->
                          <div class="card multisteps-form__panel p-3 border-radius-xl bg-white" data-animation="FadeIn">
                              <h5 id="selected_holding" class="font-weight-bolder mb-0">Initial Positions</h5>
                              <p class="mb-0 text-sm">order for open position</p>
                              <div class="multisteps-form__content">
                                  <div class="row mt-3">
                                      <div class="col-12 col-sm-4">
                                          <label for="{{ form.action.id_for_label }}">Action</label>
                                          <select class="form-select" id="{{ form.action.id_for_label }}" name="{{ form.action.name }}">
                                            {% for choice in form.action.field.choices %}
                                                {% if choice.0 == '0' or choice.0 == '11' or choice.0 == '15' %}
                                                    <option value="{{ choice.0 }}" {% if choice.0 == form.action.value %}selected{% endif %}>
                                                        {{ choice.1 }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                      </div>
                                      <div class="col-12 col-sm-4 mt-3 mt-sm-0">
                                          <label for="{{ form.order_place_date.id_for_label }}">Order Place Date</label>
                                          {{ form.order_place_date }}
                                      </div>
                                      <div class="col-12 col-sm-4 mt-3 mt-sm-0">
                                          <label for="{{ form.quality_target.id_for_label }}">Quantity target</label>
                                          {{ form.quantity_target }}
                                      </div>
                                  </div>
                                  <div class="row mt-3">
                                      <div class="col-12 col-sm-4 mt-3 mt-sm-0">
                                          <label for="{{ form.price_stop.id_for_label }}">Stop Price</label>
                                          {{ form.price_stop }}
                                      </div>
                                      <div class="col-12 col-sm-4 mt-3 mt-sm-0">
                                          <label for="{{ form.price_limit.id_for_label }}">Limit Price</label>
                                          {{ form.price_limit }}
                                      </div>
                                  </div>
                                  <div class="row mt-3">
                                      <div class="col-12 col-sm-4">
                                          <label for="{{ form.is_initial.id_for_label }}">Is Initial</label>
                                          {{ form.is_initial }}
                                      </div>
                                      <div class="col-12 col-sm-4 mt-3 mt-sm-0">
                                          <label for="{{ form.good_until.id_for_label }}">Good Until</label>
                                          {{ form.good_until }}
                                      </div>
                                      <div class="col-12 col-sm-4 mt-3 mt-sm-0">
                                          <label for="{{ form.timing.id_for_label }}">Timing</label>
                                          <select class="form-select" id="{{ form.timing.id_for_label }}" name="{{ form.timing.name }}">
                                            {% for choice in form.timing.field.choices %}
                                                <option value="{{ choice.0 }}" {% if choice.0 == form.timing.value %}selected{% endif %}>
                                                    {{ choice.1 }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                      </div>                                      
                                  </div>
                                  <div class="button-row d-flex mt-4">
                                      <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                                      <button class="btn bg-gradient-dark ms-auto mb-0" type="submit" title="Send">Submit</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
          {% include 'includes/footer.html' %}
      </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->

{% block extra_js %}
<script src="{% static 'assets/js/plugins/multistep-form.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>
    if (document.getElementById('holding_table')) {
      new simpleDatatables.DataTable("#holding_table", {
        searchable: true,
        fixedHeight: false,
        perPage: 7
      });
    }

    function selectHolding(symbol) {
        document.getElementById('auto_complete_symbol_result').value = symbol;
        document.getElementById('selected_holding').innerHTML = `Initial Positions for <b>${symbol}</b>`;
    }

</script>

{% endblock extra_js %}