alpaca==1.0.0
alpha_vantage==3.0.0
beautifulsoup4==4.13.3

channels==4.2.0
channels-redis==4.2.1

comtypes==1.4.10

Django==5.1.6
djangorestframework==3.15.2
django_celery_results==2.5.1
django_editor_widgets==4.2
django_import_export==4.3.5
django_import_export_celery==1.7.1
django_model_utils==5.0.0
django_timescaledb==0.2.13
django-celery-results~=2.5.1
django-import-export~=4.3.5
django-model-utils~=5.0.0
django-debug-toolbar~=5.0.1
django-allauth==65.4.1
django-quill-editor==0.1.42
django-api-generator==1.0.18

bokeh~=3.6.3
bokeh-sampledata==2024.2

ib_insync==0.9.86
ibapi==9.81.1.post1
ipython==8.12.3

Jinja2==3.1.5
markdown2==2.5.3
matplotlib==3.10.0
mplfinance==0.12.10b0
numpy==2.2.3
ordereddict==1.1
pandas==2.2.3
pandas_market_calendars==4.6.1
panel==1.6.1
param==2.2.0
Pillow==11.1.0
plotly==6.0.0
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
pytz==2025.1
ray==2.42.1
redis==5.2.1
Requests==2.32.3
scikit_learn==1.6.1
SQLAlchemy==2.0.38
str2bool==1.1
swapper==1.4.0
tablib==3.8.0
tornado==6.4.2
tqdm==4.67.1
tzlocal==5.3
whoosh==2.7.4
yfinance==0.2.54
daphne==4.1.2
psycopg2-binary==2.9.10
PyJWT==2.8.0
websocket-client==1.8.0
websockets==15.0
whitenoise==6.9.0
colorful==0.5.6

drf-spectacular==0.28.0

celery~=5.4.0
datetime~=5.5

decorator~=5.1.1
python-dateutil~=2.9.0.post0
scikit-learn~=1.6.1
gunicorn==23.0.0
uvicorn==0.34.0