{% extends 'layouts/../layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Market Stock Historical Bars</h6>
          <form method="get" action="">
            <input type="text" name="q" placeholder="Search by symbol" value="{{ request.GET.q }}">
            <button type="submit">Search</button>
          </form>
        <!-- Add this inside the block content -->
        {% if status_message %}
          <div class="alert alert-info">
            {{ status_message }}
          </div>
        {% endif %}
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Open</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">High</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Low</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Close</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Volume</th>
                </tr>
              </thead>
              <tbody>
                {% for item in page_obj %}
                <tr>
                  <td>{{ item.time }}</td>
                  <td>{{ item.open }}</td>
                  <td>{{ item.high }}</td>
                  <td>{{ item.low }}</td>
                  <td>{{ item.close }}</td>
                  <td>{{ item.volume }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
      </div>
    </div>
  </div>
  <div class="row">

    {% include "includes/../includes/footer.html" %}
    
  </div>
  {% endblock content %}
