{% extends 'layouts/../layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid py-4">

        Risk Analysis
    
        Comprehensive analysis of portfolio risk, showing exposure to different sectors, stocks, or risk categories.

        <h2>Analysis Result</h2>
        <textarea readonly rows="20" cols="80">{{ analysis_result }}</textarea>
        <br>
        <img src="data:image/png;base64,{{chart}}" alt="Backtrader Chart">
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

{% endblock scripts %}
