{% extends 'layouts/base-detail.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header min-height-150 border-radius-xl mt-4" style="background-image: url('{% static 'assets/img/curved-images/curved0.jpg' %}'); background-position-y: 50%;">
          <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
            <div class="row gx-4">
                <div class="col-auto">
                  <div class="avatar avatar-xl position-relative">
                      <img src="{% static 'assets/img/bruce-mars.jpg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                  </div>
              </div>
                <div class="col-auto my-auto">
                  <div class="h-100">
                      <h5 class="mb-1">
                          Strategy Test Result
                      </h5>
                  </div>
              </div>
                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                        <li class="nav-item">
                            <a id="summary_btn" class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="true">
                                <span class="ms-1">Plots</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="holding_btn" class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="false">
                                <span class="ms-1">Analyzers</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="fundamental_btn" class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="false">
                                <span class="ms-1">Meta</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3">
        <div class="row py-3">
            <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <h5>Data Source</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-4">
                            <label>yyy</label>
                        </div>
                            <div class="col-4">
                            <label>xxx</label>
                        </div>
                            <div class="col-4">
                                <label>Since</label>
                                {{ data_json.since }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label>Period</label>
                                {{ data_json.period }}
                            </div>
                            <div class="col-4">
                                <label>Interval</label>
                                {{ data_json.interval }}
                        </div>
                            <div class="col-4">
                                <label>Symbols</label>
                                {{ data_json.symbols }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mt-lg-0 mt-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="font-weight-bolder">Product Information</h5>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <label>Name</label>
                      <input class="form-control" type="text" value="Minimal Bar Stool" />
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                      <label>Weight</label>
                      <input class="form-control" type="number" value="2" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label class="mt-4">Collection</label>
                      <input class="form-control" type="text" value="Summer" />
                    </div>
                    <div class="col-3">
                      <label class="mt-4">Price</label>
                      <input class="form-control" type="text" value="$90" />
                    </div>
                    <div class="col-3">
                      <label class="mt-4">Quantity</label>
                      <input class="form-control" type="number" value="50" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="mt-4">Description</label>
                      <p class="form-text text-muted text-xs ms-1 d-inline">
                        (optional)
                      </p>
                      <div id="edit-deschiption-edit" class="h-50">
                        Long sleeves black denim jacket with a twisted design. Contrast stitching. Button up closure. White arrow prints on the back.
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label class="mt-4">Category</label>
                      <select class="form-control" name="choices-category" id="choices-category-edit">
                        <option value="Choice 1" selected="">Furniture</option>
                        <option value="Choice 2">Real Estate</option>
                        <option value="Choice 3">Electronics</option>
                        <option value="Choice 4">Clothing</option>
                        <option value="Choice 5">Others</option>
                      </select>
                      <label>Color</label>
                      <select class="form-control" name="choices-color" id="choices-color-edit">
                        <option value="Choice 1" selected="">Black</option>
                        <option value="Choice 2">White</option>
                        <option value="Choice 3">Blue</option>
                        <option value="Choice 4">Orange</option>
                        <option value="Choice 5">Green</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
{#            {{ plot|safe }}#}
          {{ script|safe }}
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block extra_js %}
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/countup.min.js' %}"></script>
<script>

    function refreshTask(input,period_select,interval_select, since_date) {
        let symbolInput = document.getElementById(input).value;
        symbolInput = symbolInput.replace(/,/g, '|'); // Replace commas with pipe characters
        const period = document.getElementById(period_select).value; // Get the selected period
        const interval = document.getElementById(interval_select).value; // Get the selected interval
        const since = document.getElementById(since_date).value; // Get the selected interval

        // Collect all parameters into an object
        const params = {
            symbols: symbolInput,
            period: period,
            interval: interval,
            since: since
        };

        // Convert the object to a JSON string
        const jsonString = JSON.stringify(params);
        {#print(jsonString);#}

        // Encode the JSON string to base64
        const base64String = btoa(jsonString);

        // Construct the URL with the base64-encoded parameter
        const url = `/analytics/strategy/test/${encodeURIComponent(base64String)}`;

        // Open the constructed URL in a new browser window
        window.open(url, '_blank');
    }

</script>
{% endblock extra_js %}
