{% extends 'layouts/../layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="card-header pb-0">
            <p>
                {% include "layouts/screen-tools.html" %}
            </p>
          </div>
        Position Sizing
    
        Pre-calculate position size based on portfolio balance, risk tolerance, or market volatility.

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

{% endblock scripts %}
