{% extends 'layouts/../layouts/base.html' %}
{% load static home_filter admin_soft %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header min-height-150 border-radius-xl mt-4" style="background-image: url('{% static 'assets/img/curved-images/curved0.jpg' %}'); background-position-y: 50%;">
          <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
            <div class="row gx-4">
                <div class="col-auto">
                  <div class="avatar avatar-xl position-relative">
                      <img src="{% static 'assets/img/bruce-mars.jpg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                  </div>
              </div>
                <div class="col-auto my-auto">
                  <div class="h-100">
                      <h5 class="mb-1">
                          Wishlist Overview
                      </h5>
                      <p class="mb-0 font-weight-bold text-sm">
                              {{ portfolio.name }}
                      </p>
                  </div>
              </div>
                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                <div class="nav-wrapper position-relative end-0">
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div class="container-fluid py-3">
        <div class="row">
            <div id="summary_panel" class="col-12">
                <div class="card">
                  <div class="card-header pb-0">
                      <div class="d-flex align-items-center">
                          <p class="text-sm">
                              <span class="badge badge-md badge-dot me-4">
                                  <span class="text-dark text-xs">Phase Legend:</span>
                              </span>
                          </p>
                      </div>
                  </div>
                    <div class="card-body px-0 pb-0 p-0">
                        <div class="table-responsive">
                            <table class="table table-flush table-hover text-end" id="summary-list">
                                <thead class="thead-light">
                                <tr class="main-header">
                                    <!-- Market-->
                                    <th>SYMBOL<br>NAME</th>
                                    <th>Industry<br>Sector</th>
                                    <th>PICK<br>AT</th>
                                    <th>PURPOSE</th>
                                    <!-- Fundamental -->
                                    <th class="bg-primary text-white">$<br>Lower<br>Band</th>
                                    <th class="bg-primary text-white">$<br>ATR</th>
                                    <th class="bg-primary text-white">$~$<br>Tier 1<br>Range</th>
                                    <th class="bg-primary text-white">$~$<br>Tier 2<br>Range</th>
                                    <th class="bg-primary text-white">$~$<br>Range 2<br>Band</th>
                                    <th class="bg-primary text-white">$~$<br>Range 3<br>Band</th>
                                    <!-- Setup Indicator -->
                                    <th class="bg-info text-white">$<br>STOP</th>
                                    <th class="bg-info text-white">$<br>LIMIT</th>
                                    <th class="bg-info text-white">$<br>STOP</th>
                                    <th class="bg-info text-white">$<br>LIMIT</th>
                                    <th class="bg-info text-white">#<br>SHARES</th>
                                    <th class="bg-info text-white">$<br>CAPITAL<br>NEEDED</th>
                                    <th class="bg-info text-white">$<br>CAPITAL<br>NEEDED</th>
                                    <th class="bg-info text-white">#<br>SIZE<br>NEEDED</th>
                                    <!-- Position Sizing -->
                                    <th class="bg-success text-white">%</th>
                                    <th class="bg-success text-white">$</th>
                                    <!-- Opportunity Window -->
                                    <th class="bg-dark text-white">ATR</th>
                                    <th class="bg-dark text-white">Upper<br>Band</th>
                                    <th class="bg-dark text-white">Range 2<br>Upper<br>Band</th>
                                    <th class="bg-dark text-white">Range 3<br>Upper<br>Band</th>
                                    <th class="bg-dark text-white">%<br>FIXED<br>RISK</th>
                                    <th class="bg-dark text-white">$<br>FIXED<br>RISK</th>
                                    <th class="bg-dark text-white">$<br>ATR</th>
                                    <th class="bg-dark text-white">Upper</th>
                                    <th class="bg-dark text-white">Range 2</th>
                                    <th class="bg-dark text-white">Range 3</th>
                                </tr>
                                <tr class="subheader">
                                    <!-- Fundamental -->
                                    <th colspan="4"></th>
                                    <!-- Setup Indicator -->
                                    <th colspan="1" class="bg-primary text-white">Bollinger</th>
                                    <th colspan="1" class="bg-primary text-white">ATR</th>
                                    <th colspan="2" class="bg-primary text-white">Support Resistance</th>
                                    <th colspan="2" class="bg-primary text-white">Bollinger</th>
                                    <!-- Position Sizing -->
                                    <th colspan="2" class="bg-info text-white">Buy</th>
                                    <th colspan="2" class="bg-info text-white">Sell</th>
                                    <th colspan="1" class="bg-info text-white">No.</th>
                                    <th colspan="3" class="bg-info text-white"></th>
                                    <!-- Opportunity Window -->
                                    <th colspan="2" class="bg-success text-white"></th>
                                    <!-- Risk Model -->
                                    <th colspan="1" class="bg-dark text-white">ATR</th>
                                    <th colspan="3" class="bg-dark text-white">Bollinger</th>
                                    <th colspan="2" class="bg-dark text-white">FIXED</th>
                                    <th colspan="1" class="bg-dark text-white">ATR</th>
                                    <th colspan="3" class="bg-dark text-white">Bollinger</th>
                                </tr>
                                <tr class="subheader">
                                    <!-- Fundamental -->
                                    <th colspan="4">Basic</th>
                                    <!-- Setup Indicator -->
                                    <th colspan="2" class="bg-primary text-white">Buy Range</th>
                                    <th colspan="4" class="bg-primary text-white">Sell Range</th>
                                    <!-- Position Sizing -->
                                    <th colspan="5" class="bg-info text-white">Setup Position</th>
                                    <th colspan="3" class="bg-info text-white">Volume Size</th>
                                    <!-- Opportunity Window -->
                                    <th colspan="2" class="bg-success text-white">Distance to Open</th>
                                    <!-- Risk Model -->
                                    <th colspan="4" class="bg-dark text-white">Gain</th>
                                    <th colspan="2" class="bg-dark text-white">Risk</th>
                                    <th colspan="4" class="bg-dark text-white">Ratio</th>
                                </tr>
                                <tr class="subheader">
                                    <th colspan="4">Fundamental</th>
                                    <th colspan="6" class="bg-primary text-white">Setup Indicator</th>
                                    <th colspan="8" class="bg-info text-white">Position Sizing</th>
                                    <th colspan="2" class="bg-success text-white">Opportunity</th>
                                    <th colspan="10" class="bg-dark text-white">Risk Model</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in watchlist_items %}
                                    <tr>
                                        <!-- Fundamental-->
                                        <td class="text-start">
                                            <a href="{% url 'stock_quote' item.symbol %}"
                                               class="text-info text-decoration-none fw-bold">
                                                <b>{{ item.symbol }}</b>
                                            </a>
                                            <span style="font-size: x-small;"> by {{ item.add_by }}</span>
                                            <br>
                                            <b style="color: black; font-size: small;">{{ item.name }}</b>
                                        </td>
                                        <td>
                                            <span style="font-size: small">
                                                {{ item.industry}}<br>
                                                {{ item.exchange}} @ <b style="color: black;">{{ item.sector}}</b>
                                            </span>
                                        </td>
                                        <td class="text-start">{{ item.pick_at|date:"Y-m-d" }}</td>
                                        <td class="text-start">
                                            <b style="color: black">{{ segment|wishlist_purpose_lookup:item.purpose }}</b>
                                        </td>
                                        <!-- Setup Indicator -->
                                        <td class="text-md mb-0 text-primary">
                                            <b>{% round_by_digits item.lower_band 0 '{0}' False %}</b>
                                        </td>
                                        <td class="text-md mb-0 text-primary">
                                            <b>{% round_by_digits item.ATR 2 '{0}' False %}</b>
                                        </td>
                                        <td class="text-md mb-0 text-primary">
                                            {% round_by_digits item.rs_upper_1 2 '{0}' False %}
                                            &nbsp;/<br>/&nbsp;
                                            {% round_by_digits item.rs_lower_1 2 '{0}' False %}
                                        </td>
                                        <td class="text-md mb-0 text-primary">
                                            {% round_by_digits item.rs_upper_2 2 '{0}' False %}
                                            &nbsp;/<br>/&nbsp;
                                            {% round_by_digits item.rs_lower_2 2 '{0}' False %}
                                        </td>
                                        <td class="text-md mb-0 text-primary">
                                            <b>{% round_by_digits item.upper_band_2 2 '{0}' False %}</b>
                                            &nbsp;/<br>/&nbsp;
                                            <b>{% round_by_digits item.lower_band_2 2 '{0}' False %}</b>
                                        </td>
                                        <td class="text-md mb-0 text-primary">
                                            <b>{% round_by_digits item.upper_band_3 2 '{0}' False %}</b>
                                            &nbsp;/<br>/&nbsp;
                                            <b>{% round_by_digits item.lower_band_3 2 '{0}' False %}</b>
                                        </td>
                                        <!-- Position Sizing -->
                                        <td class="text-md mb-0" style="color: black"></td>
                                        <td class="text-md mb-0" style="color: black"></td>
                                        <td class="text-md mb-0" style="color: black"></td>
                                        <td class="text-md mb-0" style="color: black"></td>
                                        <td class="text-md mb-0" style="color: black"></td>
                                        <td class="text-md mb-0" style="color: black"></td>
                                        <td class="text-md mb-0" style="color: black"></td>
                                        <td class="text-md mb-0" style="color: black"></td>
                                        <!-- Opportunity -->
                                        <td class="text-md mb-0"></td>
                                        <td class="text-md mb-0"></td>
                                        <!-- RiskModel -->
                                        <td class="text-md mb-0 text-dark"></td>
                                        <td class="text-md mb-0 text-dark"></td>
                                        <td class="text-md mb-0 text-dark"></td>
                                        <td class="text-md mb-0 text-dark"></td>
                                        <td class="text-md mb-0 text-dark">
                                            <b>{% round_by_digits item.risk_pct 2 '{0}%' False %}</b>
                                        </td>
                                        <td class="text-md mb-0 text-dark">
                                            <b>{% round_by_digits item.risk 0 '{0}' False %}</b>
                                        </td>
                                        <td class="text-md mb-0 text-dark"></td>
                                        <td class="text-md mb-0 text-dark"></td>
                                        <td class="text-md mb-0 text-dark"></td>
                                        <td class="text-md mb-0 text-dark"></td>
                                        <!--<div id="sliderDouble"></div>-->
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
  <script>
    function pagination(element_id, per_page=12) {
        if (document.getElementById(element_id)) {
            const dataTableSearch = new simpleDatatables.DataTable(`#${element_id}`, {
                searchable: true,
                fixedHeight: false,
                perPage: per_page
            });
            document.querySelectorAll(".export").forEach(function (el) {
                el.addEventListener("click", function (e) {
                    let type = el.dataset.type;
                    let data = { type: type, filename: "soft-ui-" + type, };
                    if (type === "csv") { data.columnDelimiter = "|"; }
                    dataTableSearch.export(data);
                });
            });
        }
    }
    pagination('summary-list', 15);
    pagination('holding-list',20);

    function toggleDetails(button) {
        const detailsRow = button.closest('tr').nextElementSibling;
        const icon = button;
        if (detailsRow.style.display === 'none') {
            detailsRow.style.display = 'table-row';
            icon.classList.remove('fa-chevron-right');
            icon.classList.add('fa-chevron-down');
            icon.style.marginRight = '4px';
        } else {
            detailsRow.style.display = 'none';
            icon.classList.remove('fa-chevron-down');
            icon.classList.add('fa-chevron-right');
            icon.style.marginRight = '10px';
        }
    }

    function submitTransaction(event, symbol) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        formData.append('symbol', symbol);
        // Get CSRF token from the cookie
        const csrftoken = getCookie('csrftoken');
        formData.append('csrfmiddlewaretoken', csrftoken);

        fetch('/portfolio/add/transaction/', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Transaction submitted successfully');
                    form.reset();
                } else {
                    alert('Error submitting transaction: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error submitting transaction');
            });
    }

    function deleteBasket(transaction_id) {
        if (confirm('Are you sure you want to delete this transaction?')) {
            fetch(`/portfolio/delete/${transaction_id}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Basket deleted successfully');
                        location.reload();
                    } else {
                        alert('Error deleting basket: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error deleting basket');
                });
        }
    }

    function refreshTask(input,period_select,interval_select) {
        let symbolInput = document.getElementById(input).value;
        symbolInput = symbolInput.replace(/,/g, '|'); // Replace commas with pipe characters
        const period = document.getElementById(period_select).value; // Get the selected period
        const interval = document.getElementById(interval_select).value; // Get the selected interval
        refreshSymbol(symbolInput,period,interval, '{{ csrf_token }}')
    }
  </script>

{% endblock extra_js %}