{% extends 'layouts/../layouts/base.html' %}
{% load static home_filter admin_soft %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header min-height-150 border-radius-xl mt-4" style="background-image: url('{% static 'assets/img/curved-images/curved0.jpg' %}'); background-position-y: 50%;">
          <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
            <div class="row gx-4">
                <div class="col-auto">
                  <div class="avatar avatar-xl position-relative">
                      <img src="{% static 'assets/img/bruce-mars.jpg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                  </div>
              </div>
                <div class="col-auto my-auto">
                  <div class="h-100">
                      <h5 class="mb-1">
                          Wishlist Overview
                      </h5>
                      <p class="mb-0 font-weight-bold text-sm">
                              {{ portfolio.name }}
                      </p>
                  </div>
              </div>
                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                <div class="nav-wrapper position-relative end-0">
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
  <script>
  </script>

{% endblock extra_js %}