{% extends 'layouts/base.html' %}
{% load static home_filter%}

{% block content %}
<div class="container-fluid">
    <div class="page-header min-height-100 border-radius-xl mt-4"
        style="background-image: url('{% static 'assets/img/curved-images/curved0.jpg' %}'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                    <img src="{% static 'assets/img/bruce-mars.jpg' %}" alt="profile_image"
                        class="w-100 border-radius-lg shadow-sm">
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        Monitor
                    </h5>
                    <p class="mb-0 font-weight-bold text-sm">
                        Monitor all wishlist prices
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                        <li class="nav-item">
                            <a id="monitor_btn" class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="true">
                                <span class="ms-1">Monitor list</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="xxx_btn" class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="false">
                                <span class="ms-1">xxx</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="yyy_btn" class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="javascript:" role="tab" aria-selected="false">
                                <span class="ms-1">yyy</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="monitor_panel" class="container-fluid py-4">
    <div class="row mt-4">
        <div class="col-sm-8">
            <div class="card mt-md-0 mt-4" id="risk_model">
              <div class="card-header pb-0 p-3">
                <div class="d-flex align-items-center">
                  <h6>Live Position Sizing</h6>
                  <button type="button" class="btn btn-icon-only btn-rounded btn-outline-success mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-auto" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data is based from sessions and is 100% accurate">
                    <i class="fas fa-check"></i>
                  </button>
                </div>
              </div>
              <div class="card-body px-3 pt-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center justify-content-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Page</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Page Views</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Avg. Time</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Bounce Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">1. /bits</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">345</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">00:17:07</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">40.91%</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">2. /pages/argon-dashboard</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">520</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">00:23:13</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">30.14%</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">3. /pages/soft-ui-dashboard</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">122</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">00:3:10</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">54.10%</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">4. /bootstrap-themes</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">1,900</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">00:30:42</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">20.93%</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">5. /react-themes</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">1,442</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">00:31:50</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">34.98%</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">6. /product/argon-dashboard-angular</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">201</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">00:12:42</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">21.4%</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">7. /product/material-dashboard-pro</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">2,115</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">00:50:11</p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0">34.98%</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card mt-md-4  mt-4" id="portfolio_model">
                <div class="card-header pb-0 p-3">
                    <div class="d-flex align-items-center">
                        <h6 class="mb-0" id="title_risk_model">Portfolio Situation</h6>
                        <button type="button" class="btn btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-auto"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="See Portfolio detail">
                            <i class="fas fa-info"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label">Total Position Risk</label>
                            <input id="total_position_risk" class="form-control" style="font-weight: bold;border: none;" readonly type="text" data-input>
                        </div>
                    </div>
                    <div class="row">
                      <ul class="list-group">
                          <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                              <div class="w-100">
                                  <div class="d-flex align-items-center mb-2">
                                      <a class="btn btn-facebook btn-simple mb-0 p-0" href="javascript:;">
                                          <i class="fab fa-facebook fa-lg"></i>
                                      </a>
                                      <span class="me-2 text-sm font-weight-bold text-capitalize ms-2">Facebook</span>
                                      <span class="ms-auto text-sm font-weight-bold">80%</span>
                                  </div>
                                  <div>
                                      <div class="progress progress-md">
                                          <div class="progress-bar bg-gradient-dark w-80" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
                </div>
            </div>
            <div class="card mt-md-4  mt-4" id="strategy_model">
                <div class="card-header pb-0 p-3">
                <div class="d-flex align-items-center">
                    <h6 class="mb-0">Strategy Performance : </h6><span id="title_strategy_performance">&nbsp</span>
                    <button type="button" class="btn btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-auto"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="See Strategy Performance detail">
                        <i class="fas fa-info"></i>
                    </button>
                </div>
            </div>
                <div class="card-body p-3">
                    <div class="row">
                    <div class="col-3">
                        <label class="form-label" data-bs-toggle="tooltip" title=" loss_avg_pct * max(buy_total_value)">Marginal Position Risk</label>
                        <input id="marginal_position_risk" class="form-control" style="font-weight: bold;border-color: mediumpurple;" readonly type="text" data-input>
                    </div>
                    <div class="col-3">
                        <label class="form-label" data-bs-toggle="tooltip" title=" (Profit_Loss Ratio * Profit Probability - Loss Probability) / Profit_Loss Ratio">
                            Kelly Criterion</label>
                        <input id="kelly_criterion" class="form-control" style="font-weight: bold;border: none;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label"><span style="color: green;">Profit</span> Trade</label>
                        <input id="profit_trade" class="form-control" style="font-weight: bold;border: none;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label"><span style="color: red;">Loss</span> Trade</label>
                        <input id="loss_trade" class="form-control" style="font-weight: bold;border: none;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label">Total <span style="color: green;">Profit</span></label>
                        <input id="total_profit" class="form-control" style="font-weight: bold; border-color: green;" readonly type="text" data-input>
                    </div>
                </div>
                    <div class="row">
                  <div class="col-3">
                        <label class="form-label" data-bs-toggle="tooltip" title=" realized.net / abs(max_loss)">Marginal Return Rate</label>
                        <input id="marginal_return_rate" class="form-control" style="font-weight: bold; border-color: green;" readonly type="text" data-input>
                    </div>
                    <div class="col-3">
                        <label class="form-label" data-bs-toggle="tooltip" title=" Profit = win_trade / (win_trade + loss_trade)">
                            <span style="color: green;">Profit</span> / <span style="color: red;">Loss</span> probability</label>
                        <input id="profit_probability" class="form-control" style="font-weight: bold;border: none;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label"><span style="color: green;">Profit</span> Invest</label>
                        <input id="profit_inv" class="form-control" style="font-weight: bold;border: none;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label"><span style="color: red;">Loss</span> Invest</label>
                        <input id="loss_inv" class="form-control" style="font-weight: bold;border: none;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label">Total Invest</label>
                        <input id="total_inv" class="form-control" style="font-weight: bold;border: none;" readonly type="text" data-input>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-3">
                        <label class="form-label" data-bs-toggle="tooltip" title="realized.gain / abs(marginal_position_risk)">Profitability Ratio</label>
                        <input id="profitability_ratio" class="form-control" style="font-weight: bold;border-color: mediumpurple;" readonly type="text" data-input>
                    </div>
                    <div class="col-3">
                        <label class="form-label" data-bs-toggle="tooltip" title="(profit_probability * win_avg) - (loss_probability * loss_avg)">Expected</label>
                        <input id="expected" class="form-control" style="font-weight: bold; border: none;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label"><span style="color: green;">Profit</span> Average %</label>
                        <input id="profit_avg_pct" class="form-control" style="font-weight: bold;border: none; color: green;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label"><span style="color: red;">Loss</span> Average %</label>
                        <input id="loss_avg_pct" class="form-control" style="font-weight: bold;border: none;color: red;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label">Single Max <span style="color: red;">Loss</span> %</label>
                        <input id="single_max_loss_pct" class="form-control" style="font-weight: bold;border: none;color: red;" readonly type="text" data-input>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-3">
                        <label class="form-label" data-bs-toggle="tooltip" title="realized.gain / sum(buy_total_value)">Profit Efficiency</label>
                        <input id="profit_efficiency" class="form-control" style="font-weight: bold;border-color: green;" readonly type="text" data-input>
                    </div>
                    <div class="col-3">
                        <label class="form-label" data-bs-toggle="tooltip" title="win_avg / abs(loss_avg)">
                            <span style="color: green;">Profit</span> / <span style="color: red;">Loss</span> Ratio %
                        </label>
                        <input id="profit_loss_ratio" class="form-control" style="font-weight: bold; border: none;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label"><span style="color: green;">Profit</span> Average $</label>
                        <input id="profit_avg" class="form-control" style="font-weight: bold;border: none; color: green;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label"><span style="color: red;">Loss</span> Average $</label>
                        <input id="loss_avg" class="form-control" style="font-weight: bold;border: none; color: red;" readonly type="text" data-input>
                    </div>
                    <div class="col-2">
                        <label class="form-label">Single Max <span style="color: red;">Loss</span> $</label>
                        <input id="single_max_loss" class="form-control" style="font-weight: bold;border-color: red;color: red;" readonly type="text" data-input>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 mt-4 mt-md-0">
                <div class="card-header pb-0 p-3">
                    <div class="d-flex align-items-center">
                        <h6>Symbol Watchlist</h6>
                        <button type="button" class="btn btn-icon-only btn-rounded btn-outline-success mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-auto" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Data is based from sessions and is 100% accurate">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body px-3 pt-0 pb-2">
                    <div class="table-responsive p-0">
                      <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Symbol</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Last</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Chg</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Chg%</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for item in watchlist %}
                          <tr id="monitor_row">
                            <td>
                              <p class="text-sm font-weight-bold mb-0" id="{{ item.symbol_id }}_symbol"
                                 style="cursor:pointer;" onclick="showRiskModel(this)">{{ item.symbol_id}}</p>
                            </td>
                            <td>
                              <p class="text-sm font-weight-bold mb-0" id="{{ item.symbol_id }}_last"></p>
                            </td>
                            <td>
                              <p class="text-sm font-weight-bold mb-0" id="{{ item.symbol_id }}_chg"></p>
                            </td>
                            <td>
                              <p class="text-sm font-weight-bold mb-0" id="{{ item.symbol_id }}_chg_pct"></p>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-lg-12">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="mb-1">Socket Console</h6>
                    </div>
                    <ul class="nav nav-tabs" id="consoleTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="quote-tab" data-bs-toggle="tab" href="#quote-console" role="tab" aria-controls="quote-console" aria-selected="true">Quote Console</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="hist-tab" data-bs-toggle="tab" href="#hist-console" role="tab" aria-controls="hist-console" aria-selected="false">Historical Console</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-3">
                    <div class="tab-content" id="consoleTabsContent">
                        <div class="tab-pane fade show active" id="quote-console" role="tabpanel" aria-labelledby="quote-tab">
                            <div id="quote-console-content" style="height: 100px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; background-color: #f9f9f9; font-size: 12px;"></div>
                        </div>
                        <div class="tab-pane fade" id="hist-console" role="tabpanel" aria-labelledby="hist-tab">
                            <div id="hist-console-content" style="height: 100px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px; background-color: #f9f9f9; font-size: 12px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="xxx_panel" class="container-fluid py-4">
</div>
<div id="yyy_panel" class="container-fluid py-4">
</div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block extra_js %}
<script>
//#####Click Event################//
    function calculateSizing(element) {
        const symbolId = element.id.split('_')[0];
        fetch(`/screening/sizing/${symbolId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const riskData = data.risk_data;

                    document.getElementById('total_position_risk').value = riskData.total_position_risk.toFixed(2);
                    document.getElementById('marginal_return_rate').value = riskData.marginal_return_rate.toFixed(2) + " %";
                    document.getElementById('profitability_ratio').value = riskData.profitability_ratio.toFixed(2);
                    document.getElementById('profit_efficiency').value = riskData.profit_efficiency.toFixed(2) + " %";
                }
            })
            .catch(error => console.error('Error fetching risk data:', error));
    }

    function showRiskModel(element) {
        const symbolId = element.id.split('_')[0];
        {#console.log('url=>'+url);#}
        fetch(`/screening/risk/${symbolId}/`,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    {#console.log('data=>'+JSON.stringify(data));#}

                    r = data.summary.realized;
                    p = data.summary;

                    document.getElementById('title_strategy_performance').textContent = data.strategy_name

                    // Profit
                    document.getElementById('profit_trade').value = p.win_trade;
                    document.getElementById('profit_inv').value = `${p.win_inv.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}`;
                    document.getElementById('profit_avg_pct').value = p.win_avg_pct.toFixed(2)+" %";
                    document.getElementById('profit_avg').value = `${p.win_avg.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}`;

                    // Loss
                    document.getElementById('loss_trade').value = p.loss_trade;
                    document.getElementById('loss_inv').value = `${p.loss_inv.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}`;
                    document.getElementById('loss_avg_pct').value = p.loss_avg_pct.toFixed(2)+" %";
                    document.getElementById('loss_avg').value = `${p.loss_avg.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}`;

                    // Total & Max
                    document.getElementById('total_profit').value = `${r.net.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}`;
                    document.getElementById('total_inv').value =`${(p.win_inv + p.loss_inv).toLocaleString('en-US', { style: 'currency', currency: 'USD' })}`;
                    document.getElementById('single_max_loss_pct').value = p.max_loss_pct.toFixed(2)+" %";
                    document.getElementById('single_max_loss').value = `${p.max_loss.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}`;

                    // Statistics
                    document.getElementById('kelly_criterion').value = p.kelly_criterion.toFixed(2)+" %";;
                    document.getElementById('profit_probability').value = p.rate.toFixed(2)+" %" + " / " + (100-p.rate.toFixed(2))+" %";
                    document.getElementById('expected').value = `${p.expected.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}`;
                    document.getElementById('profit_loss_ratio').value = p.win_loss_ratio.toFixed(2);

                    // Main indicator
                    document.getElementById('marginal_position_risk').value = `${p.marginal_position_risk.toLocaleString('en-US', { style: 'currency', currency: 'USD' })}`;
                    document.getElementById('marginal_return_rate').value = p.marginal_return_rate.toFixed(2);
                    document.getElementById('profitability_ratio').value = p.profitability_ratio.toFixed(2);
                    document.getElementById('profit_efficiency').value = p.profit_efficiency.toFixed(2)+" %";
                }
            })
            .catch(error => console.error('Error fetching risk data:', error));
    }


//#####Socket function################//

    let quote_dic = {};

    function socket_onmessage(event) {
        const data = JSON.parse(event.data);
        let symbol = data.key;
        if (data.type === 'quote'){
            if (data.detail.last === null && data.detail.close === null){
                {#console.log('Drop this. no value inside. found one');#}
                return;
            }
            stock_obj = cache_stock_obj(true, symbol, data.detail);
            render_stock_obj(true, symbol, stock_obj);
            handle_quote(symbol, stock_obj);
        }
        if (data.type === 'hist' && data.interval === 'D'){
            stock_obj = cache_stock_obj(false, symbol, data.detail);
            render_stock_obj(false, symbol, stock_obj);
            handle_hist(symbol, stock_obj);
        }
    }

    function cache_stock_obj(is_quote, key, detail){
        {#console.log('key:['+key+'] stock_obj=>'+JSON.stringify(detail));#}
        let old_obj;
        let current_obj;
        if (quote_dic.hasOwnProperty(key)){
            //UPDATE
            if(is_quote)
            {
                if(quote_dic[key]['quote'] === null)
                    quote_dic[key]['quote'] = detail;

                old_obj = { ...quote_dic[key]['quote'] };
                quote_dic[key]['quote'] = detail;
            }
            else
            {
                if(quote_dic[key]['hist'] === null)
                    quote_dic[key]['hist'] = detail;

                old_obj = { ...quote_dic[key]['hist'] };
                quote_dic[key]['hist'] = detail;
                quote_dic[key]['pre_close'] = detail.pre_close;
            }
        }
        else
        {
            //ADD
            if(is_quote){
                quote_dic[key] = {'quote': detail, 'hist': null, 'pre_close': 0};
                old_obj = { ...quote_dic[key]['quote'] }
            }
            else{
                quote_dic[key] = {'quote': null, 'hist': detail, 'pre_close': detail.pre_close};
                old_obj = { ...quote_dic[key]['hist'] }
            }

            old_obj = is_quote ? { ...quote_dic[key]['quote'] } : { ...quote_dic[key]['hist'] };
        }
        current_obj = is_quote? quote_dic[key]['quote'] : quote_dic[key]['hist'];
        return {old: old_obj, current: current_obj, pre_close: quote_dic[key]['pre_close']};
    }

    function get_stock_price(is_quote, detail){
        if (Object.keys(detail).length === 0) {
            return 0;
        }
        {#console.log("is_quote=>[" + is_quote+ "] quote=>"+ JSON.stringify(detail));#}
        {#console.log("close=>"+ detail_json.close);#}
        if(is_quote)
            return  detail.last !== null ? detail.last.toFixed(2) : detail.close.toFixed(2);
        else
            return  detail.close.toFixed(2);
    }

    function render_stock_obj(is_quote, key, stock_obj){
        {#console.log('stock_obj=>'+JSON.stringify(stock_obj));#}

        // 1. Stock Current Price
        old = get_stock_price(is_quote, stock_obj.old);
        current = get_stock_price(is_quote, stock_obj.current);
        pre_close = stock_obj.pre_close;
        {#console.log('current=>'+current);#}
        {#console.log('pre_close=>'+pre_close);#}

        // Update the UI with the stock price changes
        const lastEle = document.getElementById(`${key}_last`);
        if (lastEle) {
            if(is_quote){
                lastEle.textContent = current;
                if (current > old) {
                    lastEle.style.color = 'green';
                } else if (current < old) {
                    lastEle.style.color = 'red';
                } else {
                    lastEle.style.color = '';
                }
            }else{
                 lastEle.textContent = current;
            }
        }

        // Calculate change and change percentage
        update_stock_chg(key, current, pre_close);
    }

    function update_stock_chg(key, current, pre_close){
        const chg = current - pre_close;
        const chgPct = (chg / pre_close) * 100;

        const chgEle = document.getElementById(`${key}_chg`);
        const chgPctEle = document.getElementById(`${key}_chg_pct`);
        // Update the change and change percentage elements
        if (chgEle) {
            chgEle.textContent = chg.toFixed(2);
            style = current > pre_close ? 'green' : current < pre_close ? 'red' : '';
            chgEle.style.color = style;
        }
        if (chgPctEle) {
            chgPctEle.textContent = chgPct.toFixed(2) + '%';
            style = current > pre_close ? 'green' : current < pre_close ? 'red' : '';
            chgPctEle.style.color = style;
        }
    }

    function handle_quote(key, stock_obj){
        detail = stock_obj.current
        // Format the message
        const date = new Date(detail.time);
        const formattedDate = date.toISOString().replace('T', ' ').split('.')[0];
        const output = `${formattedDate} ${key} :
            Last:${detail.last !== null ? detail.last : ''},
            Close:${detail.close !== null ? detail.close : ''},
            Bid:${detail.bid !== null ? detail.bid : ''},
            Ask:${detail.ask !== null ? detail.ask : ''},
            High:${detail.high !== null ? detail.high : ''},
            Low:${detail.low !== null ? detail.low : ''},
            Volume:${detail.volume !== null ? detail.volume : ''}`;

        // Append the original message to the console
        console_log('quote-console-content', output)
    }

    function handle_hist(key, stock_obj){
        detail = stock_obj.current
        // Format the message
        const output = `${key}:
            ${detail.date} close @ ${detail.close},
            ${detail.pre_time} close @ ${detail.pre_close}`;

        // Append the original message to the historical console
        console_log('hist-console-content', output)
    }

    function console_log(console_id, message){
        // Append the original message to the console
        const consoleElement = document.getElementById(console_id);
        const messageElement = document.createElement('div');
        messageElement.textContent = message;
        consoleElement.appendChild(messageElement);
        consoleElement.scrollTop = consoleElement.scrollHeight; // Auto-scroll to the bottom

        // Limit the total rows to 100
        while (consoleElement.children.length > 100) {
            consoleElement.removeChild(consoleElement.firstChild);
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const socket = new WebSocket('ws://' + window.location.host + '/ws/stock_quote/');

        socket.onmessage = socket_onmessage

        socket.onclose = function(event) {
            console.error('WebSocket closed unexpectedly');
        };
    });

</script>
{% endblock extra_js %}