.highlight {
    font-weight: bold;
}

.result-line1 {
    font-size: 0.8em;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden;    /* Hide the overflow text */
    text-overflow: ellipsis; /* Add ellipsis (...) at the end of the text */
}

.result-line2 {
    font-size: 0.6em;
}

.close-button-wrapper .fas:hover {
    color: #8c0404; /* Replace with the actual info color value */
}


#auto_reminder_results {
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 180%;
    border: 0px solid #ccc;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
    top: 100%; /* Position it directly below the input */
    margin-top: 5px; /* Add some space between the input and the results */
}

#auto_reminder_results .list-group-item {
    height: 3rem; /* Adjust this value based on the actual height of each row */
    cursor: pointer; /* Show hand cursor on hover */
}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.dropdown-toggle {
    position: relative;
    padding-right: 30px; /* Adjust padding to make space for the icon */
}
.dropdown-name {
    text-transform: none; /* Ensure text is displayed normally */
    text-align: left; /* Align text to the left */
    font-weight: normal; /* Make the text not bold */
}
.selected-option-display {
    text-align: left; /* Align text to the left */
}
.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Adjust as needed */
}