{% load i18n static admin_soft%}

<ul class="navbar-nav">
    <!-- Dashboard -->
    {%check_menu_permission request.user True True False as perm_dashboard%}
    {% if perm_dashboard %}
        <li class="nav-item">
            <a data-bs-toggle="collapse"  href="#dashboardPanel"
               class="nav-link {% if 'dashboard' in parent %}active{% endif %}" aria-controls="dashboardPanel" role="button" aria-expanded="false">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                    <i class="fas fa-house fs-7 {% if segment in 'overview' or segment in 'market_summary' or segment in 'recent_activity'%}text-white{% else %}text-dark{% endif %}"></i>
                </div>
                <span class="nav-link-text ms-1">Dashboard</span>
            </a>
            <div class="collapse {% if 'dashboard' in parent %}show{% endif %} " id="dashboardPanel">
              <ul class="nav ms-4 ps-3">
                <li class="nav-item {% if 'overview' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'overview' in segment %}active{% endif %}" href="{% url 'dashboard_overview' %}">
                    <span class="sidenav-mini-icon"> OV </span>
                    <span class="sidenav-normal"> Overview </span>
                  </a>
                </li>
                <li class="nav-item {% if 'market_summary' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'market_summary' in segment %}active{% endif %}" href="{% url 'dashboard_market_summary' %}">
                    <span class="sidenav-mini-icon"> MS </span>
                    <span class="sidenav-normal"> Market Summary </span>
                  </a>
                </li>
                <li class="nav-item {% if 'recent_activity' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'recent_activity' in segment %}active{% endif %}" href="{% url 'dashboard_recent_activity' %}">
                    <span class="sidenav-mini-icon"> RA </span>
                    <span class="sidenav-normal"> Recent Activity </span>
                  </a>
                </li>
              </ul>
            </div>
        </li>
    {% endif %}

    <!-- Screening -->
    {%check_menu_permission request.user True True False as perm_screening %}
    {% if perm_screening %}
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#screeningPanel"
           class="nav-link {% if 'screening' in parent %}active{% endif %}" aria-controls="screeningPanel" role="button" aria-expanded="false">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class="fas fa-flask-vial fs-7 {% if 'screener' in segment or 'snapshot' in segment or 'wishlist' in segment or 'monitor' in segment or 'position_sizing' in segment or 'initial_positions' in segment %}text-white{% else %}text-dark{% endif %}"></i>
          </div>
          <span class="nav-link-text ms-1">Screening</span>
        </a>
        <div class="collapse {% if 'screening' in parent %}show{% endif %} " id="screeningPanel">
          <ul class="nav ms-4 ps-3">
              <li class="nav-item {% if 'screener' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'screener' in segment %}active{% endif %}" href="{% url 'screener' %}" target="_self">
                      <span class="sidenav-mini-icon"> SC </span>
                      <span class="sidenav-normal"> Screener </span>
                  </a>
              </li>
              <li class="nav-item {% if 'snapshot' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'snapshot' in segment %}active{% endif %}" href="{% url 'snapshot' %}" target="_self">
                      <span class="sidenav-mini-icon"> SS </span>
                      <span class="sidenav-normal"> Snapshot </span>
                  </a>
              </li>
              <li class="nav-item {% if 'wishlist' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'wishlist' in segment %}active{% endif %}" href="{% url 'wishlist' %}" target="_self">
                      <span class="sidenav-mini-icon"> WO </span>
                      <span class="sidenav-normal"> Wishlist </span>
                  </a>
              </li>
              <li class="nav-item {% if 'monitor' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'monitor' in segment %}active{% endif %}" href="{% url 'monitor' %}" target="_self">
                      <span class="sidenav-mini-icon"> MO </span>
                      <span class="sidenav-normal"> monitor </span>
                  </a>
              </li>
              <li class="nav-item {% if 'position_sizing' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'position_sizing' in segment %}active{% endif %}" href="{% url 'position_sizing' %}" target="_self">
                      <span class="sidenav-mini-icon"> PS </span>
                      <span class="sidenav-normal"> Position Sizing </span>
                  </a>
              </li>
              <li class="nav-item {% if 'initial_positions' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'initial_positions' in segment %}active{% endif %}" href="{% url 'initial_positions' %}" target="_self">
                      <span class="sidenav-mini-icon"> IP </span>
                      <span class="sidenav-normal"> Initial Positions </span>
                  </a>
              </li>
          </ul>
        </div>
      </li>
    {% endif %}

    <!-- Position -->
    {%check_menu_permission request.user True True False as perm_position %}
    {% if perm_position %}
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#positionPanel"
           class="nav-link {% if 'position' in parent %}active{% endif %}" aria-controls="positionPanel" role="button" aria-expanded="false">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class="fas fa-flask-vial fs-7 {% if 'open_positions' in segment or 'adjust_stop_limits' in segment or 'close_positions' in segment %}text-white{% else %}text-dark{% endif %}"></i>
          </div>
          <span class="nav-link-text ms-1">Position</span>
        </a>
        <div class="collapse {% if 'position' in parent %}show{% endif %} " id="positionPanel">
          <ul class="nav ms-4 ps-3">
              <li class="nav-item {% if 'open_positions' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'open_positions' in segment %}active{% endif %}" href="{% url 'open_positions' %}" target="_self">
                      <span class="sidenav-mini-icon"> OP </span>
                      <span class="sidenav-normal"> Open Positions </span>
                  </a>
              </li>
              <li class="nav-item {% if 'adjust_stop_limits' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'adjust_stop_limits' in segment %}active{% endif %}" href="{% url 'adjust_stop_limits' %}" target="_self">
                      <span class="sidenav-mini-icon"> SL </span>
                      <span class="sidenav-normal"> Adjust Stop Limits </span>
                  </a>
              </li>
              <li class="nav-item {% if 'close_positions' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'close_positions' in segment %}active{% endif %}" href="{% url 'close_positions' -1 %}" target="_self">
                      <span class="sidenav-mini-icon"> CP </span>
                      <span class="sidenav-normal"> Close Position </span>
                  </a>
              </li>
          </ul>
        </div>
      </li>
    {% endif %}

    <!-- Performance -->
    {%check_menu_permission request.user True True False as perm_performance %}
    {% if perm_performance %}
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#performancePanel"
           class="nav-link {% if 'performance' in parent %}active{% endif %}" aria-controls="performancePanel" role="button" aria-expanded="false">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class="fas fa-flask-vial fs-7 {% if 'calendar_view' in segment or 'daily_logs' in segment or 'portfolio_performance' in segment or 'trade_history' in segment %}text-white{% else %}text-dark{% endif %}"></i>
          </div>
          <span class="nav-link-text ms-1">Performance</span>
        </a>
        <div class="collapse {% if 'performance' in parent %}show{% endif %} " id="performancePanel">
          <ul class="nav ms-4 ps-3">
              <li class="nav-item {% if 'calendar_view' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'calendar_view' in segment %}active{% endif %}" href="{% url 'calendar_view' %}" target="_self">
                      <span class="sidenav-mini-icon"> CV </span>
                      <span class="sidenav-normal"> Calendar View </span>
                  </a>
              </li>
              <li class="nav-item {% if 'daily_logs' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'daily_logs' in segment %}active{% endif %}" href="{% url 'daily_logs' %}" target="_self">
                      <span class="sidenav-mini-icon"> DL </span>
                      <span class="sidenav-normal"> Daily Logs </span>
                  </a>
              </li>
              <li class="nav-item {% if 'portfolio_performance' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'portfolio_performance' in segment %}active{% endif %}" href="{% url 'portfolio_performance' %}" target="_self">
                      <span class="sidenav-mini-icon"> PP </span>
                      <span class="sidenav-normal"> Portfolio Performance </span>
                  </a>
              </li>
              <li class="nav-item {% if 'trade_history' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'trade_history' in segment %}active{% endif %}" href="{% url 'trade_history' %}">
                      <span class="sidenav-mini-icon"> TH </span>
                      <span class="sidenav-normal"> Trade History </span>
                  </a>
              </li>
          </ul>
        </div>
      </li>
    {% endif %}

    <!-- Cash Flow -->
    {%check_menu_permission request.user True True False as perm_cash_flow %}
    {% if perm_cash_flow %}
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#cashFlowPanel"
           class="nav-link {% if 'cash_flow' in parent %}active{% endif %}" aria-controls="performancePanel" role="button" aria-expanded="false">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class="fas fa-flask-vial fs-7 {% if 'cash_overview' in segment or 'cash_flow_history' in segment %}text-white{% else %}text-dark{% endif %}"></i>
          </div>
          <span class="nav-link-text ms-1">Cash Flow</span>
        </a>
        <div class="collapse {% if 'cash_flow' in parent %}show{% endif %} " id="cashFlowPanel">
          <ul class="nav ms-4 ps-3">
              <li class="nav-item {% if 'cash_overview' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'cash_overview' in segment %}active{% endif %}" href="{% url 'cash_overview' %}" target="_self">
                      <span class="sidenav-mini-icon"> CO </span>
                      <span class="sidenav-normal"> Cash Overview </span>
                  </a>
              </li>
              <li class="nav-item {% if 'cash_flow_history' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'cash_flow_history' in segment %}active{% endif %}" href="{% url 'cash_flow_history' %}" target="_self">
                      <span class="sidenav-mini-icon"> CF </span>
                      <span class="sidenav-normal"> Cash Flow History </span>
                  </a>
              </li>
          </ul>
        </div>
      </li>
    {% endif %}

    <!-- Analytics -->
    {%check_menu_permission request.user True True False as perm_analytics %}
    {% if perm_analytics %}
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#analyticsPanel"
           class="nav-link {% if 'analytics' in parent %}active{% endif %}" aria-controls="analyticsPanel" role="button" aria-expanded="false">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class="fas fa-flask-vial fs-7 {% if 'strategy_analysis' in segment or 'strategy_optimize' in segment or 'market_comparison' in segment %}text-white{% else %}text-dark{% endif %}"></i>
          </div>
          <span class="nav-link-text ms-1">Analytics</span>
        </a>
        <div class="collapse {% if 'analytics' in parent %}show{% endif %} " id="analyticsPanel">
          <ul class="nav ms-4 ps-3">
              <li class="nav-item {% if 'strategy_analysis' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'strategy_analysis' in segment %}active{% endif %}" href="{% url 'strategy_analysis'%}" target="_self">
                      <span class="sidenav-mini-icon"> RA </span>
                      <span class="sidenav-normal"> Strategy Analysis </span>
                  </a>
              </li>
              <li class="nav-item {% if 'strategy_optimize' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'strategy_optimize' in segment %}active{% endif %}" href="{% url 'strategy_optimize' symbol='DAVE' cut_over='2024-05-01'%}" target="_self">
                      <span class="sidenav-mini-icon"> PA </span>
                      <span class="sidenav-normal">Strategy Optimize</span>
                  </a>
              </li>
              <li class="nav-item {% if 'market_comparison' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'market_comparison' in segment %}active{% endif %}" href="{% url 'market_comparison' %}" target="_self">
                      <span class="sidenav-mini-icon"> MC </span>
                      <span class="sidenav-normal"> Market Comparison </span>
                  </a>
              </li>
          </ul>
        </div>
      </li>
    {% endif %}


    <!-- SETUP Section -->
    {%check_menu_permission request.user False True True as perm_setup%}
    {% if perm_setup %}
        <li class="nav-item mt-3">
            <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">SETUP</h6>
        </li>
    {% endif %}

    <!-- Settings (user)-->
    {%check_menu_permission request.user False True False as perm_settings %}
    {% if perm_settings %}
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#settingsPanel"
           class="nav-link {% if 'settings' in parent %}active{% endif %}" aria-controls="settingsPanel" role="button" aria-expanded="false">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class="fas fa-flask-vial fs-7 {% if 'account_settings' in segment or 'risk_preferences' in segment or 'notifications' in segment %}text-white{% else %}text-dark{% endif %}"></i>
          </div>
          <span class="nav-link-text ms-1">Settings</span>
        </a>
        <div class="collapse {% if 'settings' in parent %}show{% endif %} " id="settingsPanel">
          <ul class="nav ms-4 ps-3">
              <li class="nav-item {% if 'account_settings' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'account_settings' in segment %}active{% endif %}" href="{% url 'account_settings' %}" target="_self">
                      <span class="sidenav-mini-icon"> AS </span>
                      <span class="sidenav-normal"> Account Settings </span>
                  </a>
              </li>
              <li class="nav-item {% if 'risk_preferences' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'risk_preferences' in segment %}active{% endif %}" href="{% url 'risk_preferences' %}" target="_self">
                      <span class="sidenav-mini-icon"> RA </span>
                      <span class="sidenav-normal"> Risk Preferences </span>
                  </a>
              </li>
              <li class="nav-item {% if 'notifications' in segment %}active{% endif %}">
                  <a class="nav-link {% if 'notifications' in segment %}active{% endif %}" href="{% url 'notifications' %}" target="_self">
                      <span class="sidenav-mini-icon"> NO </span>
                      <span class="sidenav-normal"> notifications </span>
                  </a>
              </li>
          </ul>
        </div>
      </li>
    {% endif %}


    <!-- Tools -->
    {%check_menu_permission request.user False False True as perm_tools%}
    {% if perm_tools %}
        <li class="nav-item">
            <a data-bs-toggle="collapse" href="#toolsPanel" class="nav-link {% if 'tools' in parent %}active{% endif %}" aria-controls="toolsPanel" role="button" aria-expanded="false">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                    <i class="fas fa-screwdriver-wrench fs-7 {% if 'tools' in parent %}text-white{% else %}text-dark{% endif %}"></i>
                </div>
                <span class="nav-link-text ms-1">Tools</span>
            </a>
            <div class="collapse {% if 'tools' in parent %}show{% endif %} " id="toolsPanel">
                <ul class="nav ms-4 ps-3">
                    {%check_menu_permission request.user False False True as sub_perm_settings%}
                    {% if sub_perm_settings %}
                        <li class="nav-item {% if 'settings' in segment %}active{% endif %}">
                            <a class="nav-link {% if 'settings' in segment %}active{% endif %}" href="{% url 'settings' %}">
                                <span class="sidenav-mini-icon text-xs"> S </span>
                                <span class="sidenav-normal"> Settings </span>
                            </a>
                        </li>
                        <li class="nav-item {% if 'tasks' in segment %}active{% endif %}">
                            <a class="nav-link {% if 'tasks' in segment %}active{% endif %}" href="{% url 'tasks' %}">
                                <span class="sidenav-mini-icon"> T </span>
                                <span class="sidenav-normal"> Tasks </span>
                            </a>
                        </li>
{#                        <li class="nav-item {% if 'lookup' in segment %}active{% endif %}">#}
{#                            <a class="nav-link {% if 'lookup' in segment %}active{% endif %}" href="{% url "lookup" %}">#}
{#                                <span class="sidenav-mini-icon"> L </span>#}
{#                                <span class="sidenav-normal"> Lookup </span>#}
{#                            </a>#}
{#                        </li>#}
                        <li class="nav-item {% if 'api' in segment %}active{% endif %}">
                            <a class="nav-link {% if 'api' in segment %}active{% endif %}" href="/api" target="_blank">
                                <span class="sidenav-mini-icon"> A </span>
                                <span class="sidenav-normal"> API </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </li>
    {% endif %}

    {% admin_get_menu as app_list %}
    {% if app_list %}
  <li class="nav-item mt-3">
    <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Admins</h6>
  </li>
  {% for app in app_list %}
      {% if app.has_perms and not app.pinned %}
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#dashboards{{app.app_label}}" class="nav-link {% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed {% endif %} " aria-controls="dashboards{{app.app_label}}" role="button" aria-expanded="false">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class=" {% if app.icon %} {{ app.icon }} {% else %} ni ni-app {% endif %} text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">{{ app.label|slice:15 }}{% if app.label|length > 15 %}..{% endif %}</span>
          </a>
          {% if app.models %}
            <div
              class="collapse {% if 'tables-bootstrap-' in segment or app_label == app.label or app.url in request.path|urlencode %} show {% endif %}"
              role="list"
              id="dashboards{{app.app_label}}"
              aria-expanded="{% if app_label == app.label or app.url in request.path|urlencode %}true{% else %}false{% endif %}">
              <ul class="nav ms-4 ps-3">
                {% for model in app.models %}
                  {% if model.url %}
                    <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                      <a class="nav-link {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}" href="{{ model.url }}">
                        <span class="sidenav-mini-icon"> A </span>
                        <span class="sidenav-normal">{{ model.label }}</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="nav-item list-unstyled">{{ model.label }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </li>
      {% endif %}
  {% endfor %}
{% endif %}

</ul>