{% load i18n static admin_soft%}

<ul class="navbar-nav">
    <!-- Dashboard -->
    {%check_menu_permission request.user True True False as perm_dashboard%}
    {% if perm_dashboard %}
        <li class="nav-item">
            <a class="nav-link {% if 'home' in parent %}active{% endif %}" href="{% url 'index' %}">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                    <i class="fas fa-house fs-7 {% if 'index' in segment %}text-white{% else %}text-dark{% endif %}"></i>
                </div>
                <span class="nav-link-text ms-1">Home</span>
            </a>
        </li>
    {% endif %}

    <!-- Portfolio -->
    {%check_menu_permission request.user True True False as perm_Portfolio%}
    {% if perm_Portfolio %}
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#portfolioPanel" class="nav-link {% if 'portfolio' in parent %}active{% endif %}" aria-controls="portfolioPanel" role="button" aria-expanded="false">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class="fas fa-chart-pie fs-7 {% if 'my portfolio' in segment %}text-white{% else %}text-dark{% endif %}"></i>
          </div>
          <span class="nav-link-text ms-1">Portfolio</span>
        </a>
        <div class="collapse {% if 'portfolio' in parent %}show{% endif %} " id="portfolioPanel">
          <ul class="nav ms-4 ps-3">
            <li class="nav-item {% if 'my portfolio' in segment %}active{% endif %}">
              <a class="nav-link {% if 'my portfolio' in segment %}active{% endif %}" href="{% url 'portfolios' %}">
                <span class="sidenav-mini-icon"> P </span>
                <span class="sidenav-normal"> My Portfolio </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    {% endif %}

    <!-- Research -->
    {%check_menu_permission request.user True True False as perm_research%}
    {% if perm_research %}
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#researchPanel" class="nav-link {% if 'research' in parent %}active{% endif %}" aria-controls="researchPanel" role="button" aria-expanded="false">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class="fas fa-flask-vial fs-7 {% if 'stock screener' in segment %}text-white{% else %}text-dark{% endif %}"></i>
          </div>
          <span class="nav-link-text ms-1">Research</span>
        </a>
        <div class="collapse {% if 'research' in parent %}show{% endif %} " id="researchPanel">
          <ul class="nav ms-4 ps-3">
              <li class="nav-item {% if 'stock screener' in segment %}active{% endif %}">
              <a class="nav-link {% if 'stock screener' in segment %}active{% endif %}" href="/stock_screener/" target="_self">
                <span class="sidenav-mini-icon"> K </span>
                <span class="sidenav-normal"> Stock Screener </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    {% endif %}

    <!-- SETUP Section -->
    {%check_menu_permission request.user False True True as perm_setup%}
    {% if perm_setup %}
        <li class="nav-item mt-3">
            <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">SETUP</h6>
        </li>
    {% endif %}

    <!-- Account (user) -->
    {%check_menu_permission request.user False True False as perm_account%}
    {% if perm_account %}
    <li class="nav-item">
        <a data-bs-toggle="collapse" href="#accountPanel" class="nav-link {% if 'account' in parent %}active{% endif %}" aria-controls="accountPanel" role="button" aria-expanded="false">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                <i class="fas fa-user fs-7 {% if 'account' in parent %}text-white{% else %}text-dark{% endif %}"></i>
            </div>
            <span class="nav-link-text ms-1">Account</span>
        </a>
        <div class="collapse {% if 'account' in parent %}show{% endif %} " id="accountPanel">
            <ul class="nav ms-4 ps-3">
                <li class="nav-item {% if 'customize' in segment %}active{% endif %}">
                    <a class="nav-link {% if 'customize' in segment %}active{% endif %}" href="{% url 'customize' %}">
                        <span class="sidenav-mini-icon text-xs"> C </span>
                        <span class="sidenav-normal"> Customize </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
  {% endif %}

    <!-- Tools -->
    {%check_menu_permission request.user False False True as perm_tools%}
    {% if perm_tools %}
        <li class="nav-item">
            <a data-bs-toggle="collapse" href="#toolsPanel" class="nav-link {% if 'tools' in parent %}active{% endif %}" aria-controls="toolsPanel" role="button" aria-expanded="false">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
                    <i class="fas fa-screwdriver-wrench fs-7 {% if 'tools' in parent %}text-white{% else %}text-dark{% endif %}"></i>
                </div>
                <span class="nav-link-text ms-1">Tools</span>
            </a>
            <div class="collapse {% if 'tools' in parent %}show{% endif %} " id="toolsPanel">
                <ul class="nav ms-4 ps-3">
                    <li class="nav-item {% if 'tasks' in segment %}active{% endif %}">
                        <a class="nav-link {% if 'tasks' in segment %}active{% endif %}" href="{% url 'tasks' %}">
                            <span class="sidenav-mini-icon"> T </span>
                            <span class="sidenav-normal"> Tasks </span>
                        </a>
                    </li>
                    {%check_menu_permission request.user False False True as sub_perm_settings%}
                    {% if sub_perm_settings %}
                        <li class="nav-item {% if 'settings' in segment %}active{% endif %}">
                            <a class="nav-link {% if 'settings' in segment %}active{% endif %}" href="{% url 'settings' %}">
                                <span class="sidenav-mini-icon text-xs"> S </span>
                                <span class="sidenav-normal"> Settings </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </li>
    {% endif %}

    {% admin_get_menu as app_list %}
    {% if app_list %}
  <li class="nav-item mt-3">
    <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Admins</h6>
  </li>
  {% for app in app_list %}
      {% if app.has_perms and not app.pinned %}
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#dashboards{{app.app_label}}" class="nav-link {% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed {% endif %} " aria-controls="dashboards{{app.app_label}}" role="button" aria-expanded="false">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center d-flex align-items-center justify-content-center  me-2">
              <i class=" {% if app.icon %} {{ app.icon }} {% else %} ni ni-app {% endif %} text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">{{ app.label|slice:15 }}{% if app.label|length > 15 %}..{% endif %}</span>
          </a>
          {% if app.models %}
            <div
              class="collapse {% if 'tables-bootstrap-' in segment or app_label == app.label or app.url in request.path|urlencode %} show {% endif %}"
              role="list"
              id="dashboards{{app.app_label}}"
              aria-expanded="{% if app_label == app.label or app.url in request.path|urlencode %}true{% else %}false{% endif %}">
              <ul class="nav ms-4 ps-3">
                {% for model in app.models %}
                  {% if model.url %}
                    <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                      <a class="nav-link {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}" href="{{ model.url }}">
                        <span class="sidenav-mini-icon"> A </span>
                        <span class="sidenav-normal">{{ model.label }}</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="nav-item list-unstyled">{{ model.label }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </li>
      {% endif %}
  {% endfor %}
{% endif %}

</ul>